body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    margin:0;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}
header {
    background-color: rgb(255, 255, 255);
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    text-align: center;
    padding-top: 6px;
}
#main-body {
    background-color: rgb(255, 255, 255);
    align-content:center;
    justify-content: center;
    text-align:center;
}
#footer-elt {
    color:rgb(112, 117, 122);
    padding: 0 0 0 0 !important;
}
div {
    padding: 5px 15px 5px 15px;
}
header div {
    padding-right: 10px;
    padding-left:10px;
}
header a {
    text-decoration: none;
    color: black;
}
#footer-elt a {
    text-decoration: none;
    color: rgb(112, 117, 122);
}
button {
    margin: 25px 5px 0px 5px;
    padding: 8px 15px 8px 15px;
    background-color: rgb(248, 249, 250);
    color:rgb(60, 64, 67);
    border:none;
    border-radius:5px;
}

#header-left {
    display: flex;
    flex-direction: row;
    align-items: center;
}
#header-right {
    display: flex;
    flex-direction: row;
    font-size: 13px;
    align-items: center;
}
#logo{
    background-color:#fff;
    height: auto;
    text-align: center;
    margin-top: 20vh;
    padding: 25px;
}
#carbon {
    background-color: rgb(242, 242, 242);
    text-align:center;
    padding: 20px 0px 20px 0px;
    align-items: bottom;
    display:flex;
    justify-content: center;
    align-items:center;
}
footer{
    background-color: rgb(242, 242, 242);
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    text-align: center;
}

#footer-left {
    background-color: rgb(242, 242, 242);
    display: grid;
    grid-template-columns: auto auto auto;
    
}
#settings {
    margin-right: 10vw;
}
#advertising {
    margin-left: 10vw;
}
#footer-right {
    background-color: rgb(242, 242, 242);
    display: grid;
    grid-template-columns: auto auto auto;
}
@media (max-width:923px) {
    footer {
        flex-direction: column;
    }
    #settings{
        margin-right: 0px;
        }
    #advertising{
        margin-left: 0px;
    }
    #footer-left {
        justify-content: center;
    }
    #footer-right {
        justify-content: center;
    }
}

#privacy {
    padding-left: 5px;
}
#works {
    padding-right: 5px;
}

#country {
    border-bottom:1px solid;
    border-bottom-color: rgb(218, 220, 224);
    background-color: rgb(242, 242, 242);
    padding: 15px 25px 15px 25px;
}
header a:hover {
    text-decoration: underline;
}
#footer-elt a:hover {
    text-decoration: underline;
}
button:hover {
    border: 1px solid;
    border-color: #bec3cf;
    padding: 7px 14px 7px 14px;
}
input {
    height:40px;
    border: none;
    padding:0;
    width:max(30vw, 400px);
    margin: 0 35px 0 0px;
    font-size: 16px;
}
#input-box {
    display:flex;
    flex-wrap: nowrap;
    border: 1px solid;
    border-color:#e6e6e6;
    margin: auto;
    width:min-content;
    padding: 0;
    border-radius: 35px;
}
#google-account {
    padding-top: 0;
}
#logo-box {
    padding-top: 9px;
}
#plant-box {
    padding: 0;
    padding-right: 15px;
}
#input-box:hover {
    box-shadow: 0px 0px 2px 2px rgb(226, 226, 226);
    border-color: rgb(255, 255, 255);
    
}
input:focus {
    outline: none;
}
#account-dropdown {
    position:absolute;
    right:20px;
    top: 75px;
    height: auto;
    width: 350px;
    background-color: rgb(255, 255, 255);
    border-radius:8px;
    box-shadow: 0px 0px 2px 2px rgb(194, 194, 194);
    text-align: center;
    display:flex;
    flex-direction:column;
    padding: 0;
    justify-content: space-between;
}
#bottom-dropdown {
    border-top: 1px solid;
    border-top-color:rgb(219, 219, 219);
    font-size:12px;
    color:rgb(112, 117, 122);
    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
}
#account-dropdown div {
    padding: 15px 15px 15px 15px;
}
#another-account {
    border-top: 1px solid;
    border-top-color:rgb(219, 219, 219);
    border-bottom: 1px solid;
    border-bottom-color:rgb(219, 219, 219);
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#manage-account {
    padding:8px 15px 8px 15px !important;
    border-radius:30px;
    border: 1px solid;
    border-color:rgb(219, 219, 219);
}
#signout {
    border-radius:4px;
    border: 1px solid;
    border-color:rgb(219, 219, 219);
    padding-top:8px !important;
    padding-bottom: 8px !important;
}
#email-address {
    color:rgb(112, 117, 122);
    padding-top:0 !important;
}
#name {
    padding-bottom: 0 !important;
}
#profile-picture {
    height: 100px;
}
.padding-less {
    padding: 0 !important;
}
.highlight-background:hover {
    background-color:rgb(247, 248, 248) !important;
}
.small-padding {
    padding: 5px !important;
}